include ./components/head.pug
include ./components/navigation.pug

section.w-full.bg-white(class='dark:bg-wickeddark' style="padding-top: 75px")
  .relative.items-center.w-full.px-5.py-12.mx-auto.max-w-7xl(class='md:px-12 lg:px-16 lg:py-24')
    .flex.w-full.mx-auto.text-left
      .relative.inline-flex.items-center.mx-auto.align-middle
        .pb-12.text-center(style="width: 100%")
          h1.max-w-5xl.text-2xl.font-bold.leading-none.tracking-tighter.text-neutral-600(class='md:text-5xl lg:text-6xl lg:max-w-7xl')
            | Я хочу получить консультацию 
            br.hidden(class='lg:block')
            |             риелтора
          p(class="class=max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, eveniet. Qui placeat fugit nostrum rem!.
          form#revue-form.mt-8.transition.duration-500.ease-in-out.transform.border2.bg-gray-50(action='' method='post' name='revue-form' target='_blank' class='md:mx-auto sm:max-w-3xl lg:flex')
            .divide-y.space-y.4(class='lg:divide-x lg:divide-y-0 lg:flex')
              .flex-1.min-w-0.revue-form-group
                label.sr-only(for='name') Имя
                input#name.block.w-full.px-5.py-3.text-base.text-neutral-600.placeholder-gray-300.transition.duration-500.ease-in-out.transform.bg-transparent.border.border-transparent(type='text' class='focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300' placeholder="Ваше имя ")
              .flex-1.min-w-0.revue-form-group
                label.sr-only(for='member_email') Email address
                input#cta-email.block.w-full.px-5.py-3.text-base.text-neutral-600.placeholder-gray-300.transition.duration-500.ease-in-out.transform.bg-transparent.border.border-transparent(type='email' class='focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300' placeholder='Номер мобильного  ')
            .mt-4.revue-form-actions(class='sm:mt-0 lg:ml-3')
              button#member_submit.block.w-full.px-5.py-3.text-base.font-medium.text-white.bg-purple-600.border.border-transparent.shadow(type='submit' value='Subscribe' name='member[subscribe]' class='hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 sm:px-10') Получить
form(action='/new' method='POST' enctype="multipart/form-data")
  div(style='padding: 150px 15% 50px')
    .(class='md:grid md:grid-cols-3 md:gap-6')
      .(class='md:col-span-1')
        .px-4(class='sm:px-0')
          h3.text-lg.font-medium.leading-6.text-gray-900 Основная информация
          p.mt-1.text-sm.text-gray-600
      .mt-5(class='md:mt-0 md:col-span-2')
          .shadow(class='sm sm:overflow-hidden')
            .px-4.py-5.bg-white.space-y-6(class='sm:p-6')
              .grid.grid-cols-3.gap-6
                .col-span-3(class='sm:col-span-2')
                  label.block.text-sm.font-medium.text-gray-700(for='title')  Заголовок 
                  .mt-1.flex.shadow-sm
                    input#title.flex-1.block.w-full.p-2.border-gray-900(type='text' name='title' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' placeholder='Продам квартиру-студию в новострое ЖК "Щасливое"')
                .col-span-6(class='sm:col-span-3')
                  label.block.text-sm.font-medium.text-gray-700(for='price') Цена
                  input#price.mt-1.block.w-full.shadow-sm.border-gray-300.p-2(type='number' name='price' autocomplete='given-name' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' placeholder="35000")
              div
                label.block.text-sm.font-medium.text-gray-700(for='body')  Описание 
                .mt-1
                  textarea#body.shadow-sm.mt-1.p-5.pb-10.block.w-full.border.border-gray-300(name='body' rows='3' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' placeholder='Подумайте что вы хотели б узнать из объявления и добавьте это в описание')
              div
                label.block.text-sm.font-medium.text-gray-700  Первое фото будет на обложке объявления. 
                .mt-1.flex.justify-center.px-6.pt-5.pb-6.border-2.border-gray-300.border-dashed
                  .space-y-1.text-center
                    svg.mx-auto.h-12.w-12.text-gray-400(stroke='currentColor' fill='none' viewbox='0 0 48 48' aria-hidden='true')
                      path(d='M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    .flex.text-sm.text-gray-600
                      label.relative.cursor-pointer.bg-white.font-medium.text-indigo-600(for='images' class='hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500')
                        span Загрузите изображение
                        input#images.sr-only(name='images' type='file' multiple)
                    p.text-xs.text-gray-500 PNG, JPG, GIF до 10MB
            .px-4.py-3.bg-gray-50.text-right.p-10(class='sm:px-6')
  .hidden(class='sm:block' aria-hidden='true')
    .py-5
      .border-t.border-gray-200
  .mt-10(class='sm:mt-0' style='padding: 50px 15% 50px')
    .(class='md:grid md:grid-cols-3 md:gap-6')
      .(class='md:col-span-1')
        .px-4(class='sm:px-0')
          h3.text-lg.font-medium.leading-6.text-gray-900 Информация про жилищные условия
          p.mt-1.text-sm.text-gray-600
      .mt-5(class='md:mt-0 md:col-span-2')
          .shadow.overflow-hidden(class='sm')
            .px-4.py-5.bg-white(class='sm:p-6')
              .grid.grid-cols-6.gap-6
                .col-span-6(class='sm:col-span-3')
                  label.block.text-sm.font-medium.text-gray-700(for='square') Площадь:
                  input#square.p-2.mt-1.block.w-full.shadow-sm.border-gray-300(type='number' name='square' autocomplete='given-name' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
                .col-span-6(class='sm:col-span-3')
                  label.block.text-sm.font-medium.text-gray-700(for='floor') Этаж
                  input#floor.p-2.mt-1.block.w-full.shadow-sm.border-gray-300(type='number' name='floor' autocomplete='given-name' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
                .col-span-6(class='sm:col-span-3')
                  label.block.text-sm.font-medium.text-gray-700(for='rooms') К-во комнат
                  select#rooms.mt-1.block.w-full.py-2.px-3.border.border-gray-300.bg-white.shadow-sm(name='rooms' autocomplete='country-name' class='focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5+
                .col-span-6(class='sm:col-span-3')
                  label.block.text-sm.font-medium.text-gray-700(for='refit') Ремонт
                  select#refit.mt-1.block.w-full.py-2.px-3.border.border-gray-300.bg-white.shadow-sm(name='refit' class='focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
                    option(value="Отсутствует") Отсутствует
                    option(value="Косметический") Косметический
                    option(value="Евро") Евро
                .col-span-6(class='sm:col-span-3')
                  label.block.text-sm.font-medium.text-gray-700(for='heating') Отопление
                  select#heating.mt-1.block.w-full.py-2.px-3.border.border-gray-300.bg-white.shadow-sm(name='heating' class='focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
                    option(value="Автономное") Автономное
                    option(value="Централизованное") Централизованное
                .col-span-6(class='sm:col-span-3')
                  label.block.text-sm.font-medium.text-gray-700(for='furniture') Мебель
                  select#furniture.mt-1.block.w-full.py-2.px-3.border.border-gray-300.bg-white.shadow-sm(name='furniture' class='focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
                    option(value="Нет") Нет
                    option(value="Да") Да
            .px-4.py-3.bg-gray-50.text-right.p-10(class='sm:px-6')
  .hidden(class='sm:block' aria-hidden='true')
    .py-5
      .border-t.border-gray-200
  .mt-10(class='sm:mt-0' style='padding: 50px 15% 50px')
    .(class='md:grid md:grid-cols-3 md:gap-6')
      .(class='md:col-span-1')
        .px-4(class='sm:px-0')
          h3.text-lg.font-medium.leading-6.text-gray-900 Информация об инфраструктуре
      .mt-5(class='md:mt-0 md:col-span-2')
          .shadow.overflow-hidden(class='sm')
            .px-4.py-5.bg-white.space-y-6(class='sm:p-6')
              fieldset
                legend.sr-only  Информация об инфраструктуре
                .text-base.font-medium.text-gray-900(aria-hidden='true')  До 500 метров
                .mt-4.space-y-4
                  .flex.items-start
                    .flex.items-center.h-5
                      input#bank.h-4.w-4.text-indigo-600.border-gray-300(name='infrastructure[]' value="Банкомат" type='checkbox' class='focus:ring-indigo-500')
                    .ml-3.text-sm
                      label.font-medium.text-gray-700(for='bank') Банкомат
                  .flex.items-start
                    .flex.items-center.h-5
                      input#school.h-4.w-4.text-indigo-600.border-gray-300(name='infrastructure[]' value="Школа" type='checkbox' class='focus:ring-indigo-500')
                    .ml-3.text-sm
                      label.font-medium.text-gray-700(for='school') Школа
                  .flex.items-start
                    .flex.items-center.h-5
                      input#store.h-4.w-4.text-indigo-600.border-gray-300(name='infrastructure[]' value="Магазин" type='checkbox' class='focus:ring-indigo-500')
                    .ml-3.text-sm
                      label.font-medium.text-gray-700(for='store') Магазин
                  .flex.items-start
                    .flex.items-center.h-5
                      input#restaurant.h-4.w-4.text-indigo-600.border-gray-300(name='infrastructure[]' value="Ресторан" type='checkbox' class='focus:ring-indigo-500')
                    .ml-3.text-sm
                      label.font-medium.text-gray-700(for='restaurant') Ресторан
                  .flex.items-start
                    .flex.items-center.h-5
                      input#busstation.h-4.w-4.text-indigo-600.border-gray-300(name='infrastructure[]' value="Остановка" type='checkbox' class='focus:ring-indigo-500')
                    .ml-3.text-sm
                      label.font-medium.text-gray-700(for='busstation') Остановка транспорта
            .px-4.py-3.bg-gray-50.text-right.p-10(class='sm:px-6')
  .mt-4.revue-form-actions(class='sm:mt-0 sm:ml-3')
  input#member_submit.block.w-full.px-5.py-3.text-base.font-medium.text-white.bg-purple-600.border.border-transparent.shadow(type='submit' class='hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 sm:px-10' style="max-width: 250px; margin: 40px auto;" value="Опубликовать") 

include ./components/footer.pug