<section class="dark:bg-gray-800 dark:text-gray-100">
	<div class="container px-6 py-12 mx-auto">
		<div class="grid items-center gap-4 xl:grid-cols-5">
			<div class="max-w-2xl mx-auto my-8 space-y-4 text-center xl:col-span-2 xl:text-left">
				<h2 class="text-4xl font-bold">Что наши клиенты говорят о нас</h2>
				<p class="dark:text-gray-400">Репутация - очень важный элемент любого бизнеса...</p>
			</div>
			<div class="p-6 xl:col-span-3">
				<div class="grid gap-4 md:grid-cols-2">
					<div class="grid content-center gap-4">
						<div class="p-6 rounded shadow-md dark:bg-gray-900">
							<p>Отличная квартира! Чистая и роскошная! Как на фото, а то и лучше! Хозяйка - очень порядочная и отзывчивая!</p>
							<div class="flex items-center mt-4 space-x-4">
								<img src="https://source.unsplash.com/50x50/?portrait?1" alt="" class="w-12 h-12 bg-center bg-cover rounded-full dark:bg-gray-500">
								<div>
									<p class="text-lg font-semibold">Александр</p>
									<p class="text-sm dark:text-gray-400">12 мая 2012</p>
								</div>
							</div>
						</div>
						<div class="p-6 rounded shadow-md dark:bg-gray-900">
							<p>Прекрасная квартира, самый радушный, позитивный и доброжелательный владелец квартиры в Киеве-Павел!Рядом с метро, все в пешей доступности.</p>
							<div class="flex items-center mt-4 space-x-4">
								<img src="https://source.unsplash.com/50x50/?portrait?2" alt="" class="w-12 h-12 bg-center bg-cover rounded-full dark:bg-gray-500">
								<div>
									<p class="text-lg font-semibold">Анюта</p>
									<p class="text-sm dark:text-gray-400">13 апреля 2018</p>
								</div>
							</div>
						</div>
					</div>
					<div class="grid content-center gap-4">
						<div class="p-6 rounded shadow-md dark:bg-gray-900">
							<p>Квартира полностью соответствует фото - аккуратная, чистая, с хорошим ремонтом. Расположение недалеко от метро, что очень удобно. В доме есть и кофейн</p>
							<div class="flex items-center mt-4 space-x-4">
								<img src="https://source.unsplash.com/50x50/?portrait?3" alt="" class="w-12 h-12 bg-center bg-cover rounded-full dark:bg-gray-500">
								<div>
									<p class="text-lg font-semibold">Настя</p>
									<p class="text-sm dark:text-gray-400">12 февраля 2019</p>
								</div>
							</div>
						</div>
						<div class="p-6 rounded shadow-md dark:bg-gray-900">
							<p>Отличная квартира, встретили в ней новый год) Павел всегда на связи, приятный человек. Рекомендую!!! </p>
							<div class="flex items-center mt-4 space-x-4">
								<img src="https://source.unsplash.com/50x50/?portrait?4" alt="" class="w-12 h-12 bg-center bg-cover rounded-full dark:bg-gray-500">
								<div>
									<p class="text-lg font-semibold">Иван</p>
									<p class="text-sm dark:text-gray-400">27 июня 2017</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>