section.p-6(class='dark:bg-white text-gray-500' style="padding: 200px 0 200px 0")
  .container.mx-auto.grid.justify-center.grid-cols-2.text-center(class='lg:grid-cols-3')
    .flex.flex-col.justify-start.m-2(class='lg:m-6')
      p.text-4xl.font-bold.leading-none(class='lg:text-6xl') 50+
      p.text-sm(class='sm:text-base') Клиентов
    .flex.flex-col.justify-start.m-2(class='lg:m-6')
      p.text-4xl.font-bold.leading-none(class='lg:text-6xl') 13797K
      p.text-sm(class='sm:text-base') Общий оборот продаж
    .flex.flex-col.justify-start.m-2(class='lg:m-6')
      p.text-4xl.font-bold.leading-none(class='lg:text-6xl') 4.8
      p.text-sm(class='sm:text-base') Средняя оценка
    .flex.flex-col.justify-start.m-2(class='lg:m-6')
      p.text-4xl.font-bold.leading-none(class='lg:text-6xl') 8
      p.text-sm(class='sm:text-base') Лет на рынке
    .flex.flex-col.justify-start.m-2(class='lg:m-6')
      p.text-4xl.font-bold.leading-none(class='lg:text-6xl') 1037
      p.text-sm(class='sm:text-base') Объявлений
    .flex.flex-col.justify-start.m-2(class='lg:m-6')
      p.text-4xl.font-bold.leading-none(class='lg:text-6xl') 10+
      p.text-sm(class='sm:text-base') За последний час

