section.bg-white.text-gray-700.mb-10.mt-10.pb-10.pt-10
  .container.flex.flex-col.justify-center.p-6.mx-auto(class='sm:py-12 lg:py-24 lg:flex-row lg:justify-between')
    .flex.flex-col.justify-center.p-6.text-center(class='lg:max-w-md xl:max-w-lg lg:text-left')
      h1.text-5xl.font-bold.leading-none(class='sm:text-6xl')
        | №1 в Тбилиси сайт для продажи недвижимости
        span.text-violet-400   от владельцев
      p.mt-6.mb-8.text-lg(class='sm:mb-12')
        | rent.house – самый посещаемый в Тбилиси сайт предложений о продаже и покупке недвижимости от владельцев. Работаем с 2020 года.
      .flex.flex-col.space-y-4(class='sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start')
        a.px-8.py-3.text-lg.font-semibold.bg-violet-400.text-gray-900(rel='noopener noreferrer' href='/store') Купить
        a.px-8.py-3.text-lg.font-semibold.border.border-gray-100(rel='noopener noreferrer' href='/new') Продать
    .flex.items-center.justify-center.p-6.mt-8(style="")
      img.object-contain.h-72(src='/img/appartments/thumb_3.jpg' alt='' style="height: 100%; max-height: 560px")
